@page "/SearchByName"
@using BlazingGreenBean.Models;
@using BlazingGreenBean.Services;

<h3>SearchByName</h3>
<input type="text" placeholder="Search by Recipe Name" @bind-value="name" @bind-value:event="oninput"/>
<button @onclick="@(async () => await GetRecipes())">Search</button>
@{
    foreach (var recipe in recipes)
    {
        <RecipeCard Recipe=recipe />
    }
}

@code {
    List<Recipe> recipes = new List<Recipe>();
    string name = "";

    GreenBeanAPIService GBAService = new GreenBeanAPIService();

    private async Task GetRecipes()
    {
        recipes = await GBAService.GetRecipesByName(name);
    }
}
