@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/kylerdaybell/Project_GreenBean/blob/master/Official_Documentation/GreenBeans_API_Usage.md" target="_blank" class="ml-md-auto">Learn about GreenBean Cooking</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
